<!-- <app-destinations
  *ngFor="let destiny of destinies"
  [destiny]="destiny"
></app-destinations>
<input name="nombre" #nombre />
<input name="url" #url /> -->
<!-- <button (click)="guardar(nombre.value, url.value)">Guardar</button> -->
<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter name..."
                #name
              />
            </div>
            <div class="form-group">
              <label for="Image	Url">Image Url</label>
              <input
                type="text"
                class="form-control"
                id="imageUrl"
                placeholder="Enter url..."
                #url
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="save(name.value, url.value)"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5" />
  <div class="row">
    <app-destinations
      *ngFor="let destiny of destinies"
      [destiny]="destiny"
    ></app-destinations>
  </div>
</div>
